.error-container {
  min-height: calc(100vh - 292px); }
  .error-container .error-msg {
    margin: auto;
    text-align: center;
    color: red;
    font-size: 2rem;
    margin: 20px;
    text-decoration: underline; }

.highscore-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; }
  .highscore-content .highscore-list {
    text-align: center;
    margin-top: 5rem; }
    .highscore-content .highscore-list .highscore-item {
      border: 1px white solid;
      text-align: left;
      transition: 0.3s;
      margin: 1rem; }
      .highscore-content .highscore-list .highscore-item .highscore-item-time {
        margin-left: 9rem;
        background: yellow; }

header .main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 100px; }
  header .main-menu a:hover {
    color: goldenrod; }
  header .main-menu li {
    list-style-type: none; }

.menu-btn {
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }

.menu-btn-active {
  border-color: goldenrod;
  box-shadow: 0px 0px 10px rgba(218, 165, 32, 0.3); }

.disabledButton {
  background-color: gray; }
