<header>
    <nav class="main-nav">
        <ul class="main-menu">
            <li><a class="<%= page_name == "highscore" ? "menu-btn menu-btn-active" : "menu-btn" %>" href="/highscore">Highscore</a></li>
            <li><a class="menu-btn" href="/">WordleGame</a></li>
            <li><a class="<%= page_name == "information" ? "menu-btn menu-btn-active" : "menu-btn" %>" href="/information">Information</a></li>
        </ul>
    </nav>
</header>

