.menu-container {
    padding-top: 5rem;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
}

.letterSelect {
    background-color: antiquewhite;
}

.menuSubmit {
    background-color: antiquewhite;
    font-size: 18px;
}

.menuSubmit:hover {
    transform: scale(1.1, 1.1);
}

.unique-container  {
    padding: 1rem;
}