.highscore-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    .highscore-list {
        text-align: center;
        margin-top: 5rem;
        
       .highscore-item{
            border: 1px white solid;
            text-align: left;
            transition: 0.3s;
            
            .highscore-item-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
           

                .highscore-item-time {
                    background: antiquewhite;
                }
            }
        }
    }
}