.information-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    .information-inner {
        margin-top: 5rem;
        text-align: left;
        width: 60%;
        box-shadow: 6px 6px 2px 1px rgba(10, 10, 10, 0.2);
        border: 1px solid black;
        padding: 1rem;
        background-color: antiquewhite;
        .information-bold {
            font-weight: 600;
        }
        @media screen and (min-device-width: 1048px) {
            font-size: 18px;
        }
    }   
}




